doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="styles.css") // Link to your compiled CSS
    title Your Website
  body
    .container
      .image-box
        a(href="image1.jpg", target="_blank")
          img(src="image1.jpg", alt="Image 1", class="center-image")
      .image-box
        a(href="image2.jpg", target="_blank")
          img(src="image2.jpg", alt="Image 2", class="center-image")
