body {
    margin: 0;
    height:700px;
    width:360px;
    width:100vh;
    height: 100vh;
    background-image: url('background.jpg'); /* Replace with your background image */
    background-size: cover; /* Cover the entire body */
    background-position: center; /* Center the background image */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevent scrolling */
}

.container {
    display: flex;
    flex-direction: column; /* Stack images vertically */
    align-items: center;
}

.image-box {
    padding: 5px ; /* Optional padding around images */
    margin: 5px; /* Space between images */
}

.center-image {
    width: 50vh; /* Full width */
    height: 50vh; 
    margin-left:150px;
    width:50px;
    height:50px;
}
.cent{
    margin-left:110px;
width:100vh;
    height:100vh;





    
}
